<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--<add key="SqlConnectionString" value="Data Source=.;Initial Catalog=Shares;Integrated Security=True"/>-->
		<!--<add name="xxxx" connectionString="Data Source = 192.168.xxx.xxx;Initial Catalog=xxx;User ID=xxxx;Password=xxxx;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->


		<!--Data Source = .;Initial Catalog=Shares;User ID=xxxx;Password=xxxx;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient-->
		<add key="SqlConnectionString" value="Data Source=.;Initial Catalog=master;Integrated Security=True;Max Pool Size=30000" />
		<!--<add key="SqlConnectionString" value="Data Source=172.16.202.191,2433;Initial Catalog=Wafer_SRLC_PROD;User ID=sa;Password=jk@123;" />-->

		<!--<add key="SqlConnectionString" value="Data Source=10.15.3.94;Initial Catalog=Wafer_SRLC_PROD;User ID=sa;Password=jk@123xntest" />-->
		<!--<add key="SqlConnectionString" value="Data Source=10.15.3.94;Initial Catalog=Wafer_XN_PROD;User ID=sa;Password=jk@123xntest;" />-->

		<!--<add key="SqlConnectionString" value="Server=10.15.3.94,2433;Database=OrBitHistoryRCS;UID=sa;PWD=jk@123xntest;Encrypt=True;TrustServerCertificate=True;" />-->
		<!--<add key="MongoDBConnectionString" value="mongodb://localhost:27017/?serverSelectionTimeoutMS=5000" />-->
		<add key="MongoDBDatabaseName" value="Shares" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="McTools.Xrm.Connection.WinForms" publicKeyToken="f1559f79cf894e27" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2020.4.32" newVersion="1.2020.4.32" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="McTools.Xrm.Connection" publicKeyToken="96037217801d9658" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2020.4.32" newVersion="1.2020.4.32" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>