<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!--<add key="SqlConnectionString" value="Data Source=.;Initial Catalog=Shares;Integrated Security=True"/>-->
		<!--<add name="xxxx" connectionString="Data Source = 192.168.xxx.xxx;Initial Catalog=xxx;User ID=xxxx;Password=xxxx;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
		<add key="SqlConnectionString" value="Data Source=.;Initial Catalog=master;Integrated Security=True;Max Pool Size=30000"/>
		<!--Data Source = .;Initial Catalog=Shares;User ID=xxxx;Password=xxxx;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient-->
		<add key="MongoDBConnectionString" value="mongodb://localhost:27017/?serverSelectionTimeoutMS=5000"/>
		<add key="MongoDBDatabaseName" value="Shares"/>
	</appSettings>
</configuration>